{% extends "common.html" %}

{% block title %}Mill Record Details{% endblock %}

{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
    }

    .details {
        width: 80%;
        margin: 20px auto;
        padding: 20px;
    }

    table {
        width: 70%;
        border-collapse: collapse;
        margin: 20px 0;
        border: 1px solid #ddd;
        box-shadow: 2px -3px 4px rgb(148, 147, 147);
    }

    table, th, td {
        border: 1px solid #ddd;
    }

    th, td {
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    .viewledger {
        display: flex;
        gap: 20px;
        padding: 10px;
        align-items: center;
        margin-left: 50px;
        box-shadow: 0 4px 5px rgba(193, 191, 191, 0.2), 
                    0 -4px 5px rgba(255, 80, 80, 0.2), 
                    4px 0 4px rgba(141, 139, 139, 0.2), 
                    -4px 0 4px rgba(58, 57, 57, 0.2);
        width: 75%;
        height: 40px;
    }

    .viewledger a {
        text-decoration: none;
        color: rgb(68, 3, 207);
    }
    .horizontal-table a{
        color:red;
    }
</style>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
 
<center>
    <h2 style="background-color: blue; margin: 0; padding-bottom: 25px; color: rgb(249, 199, 137);">Mill Name: {{ mill_record.mill_name }}</h2>
</center>
<center>
    <div class="details">
        <div class="viewledger">
            <a href="{% url 'edit_mills_record' mill_record.pk %}">Edit Mills</a>
            <a href="{% url 'view_ledger' %}">View ledger</a>
            <h4>Total Amount: Rs. {{ total_amount }}/-</h4>
            <h4>Amount paid/Received: Rs. {{ amount_paid }}/-</h4>
            <h4>Balance: Rs. {{ balance }}/-</h4>
            <a href="{% url 'download_mill_record' mill_record.pk %}">Download</a>
            <a href="{% url 'edit_mills_record' mill_record.pk %}">Edit</a>
        </div>
        <br>
</center>
    <center>
        <h2>Mill Record Details</h2> 
        <table class="horizontal-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>KL No</th>
                    <th>Mill Name</th>
                    <th>Mill Place</th>
                    <th>Mill Rate</th>
                    <th>Mill Weight</th>
                    <th>Remarks</th>
                    <th>Mill Amount</th>
                    <th>Rate Type</th>
                    <th>Calculation Type</th>
                    <th>Status</th>
                    <th>Action</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ mill_record.date }}</td>
                    <td>{{ mill_record.kl_no }}</td>
                    <td>{{ mill_record.mill_name }}</td>
                    <td>{{ mill_record.mill_place }}</td>
                    <td>{{ mill_record.mill_rate }}</td>
                    <td>{{ mill_record.mill_weight }}</td>
                    <td>{{ mill_record.mill_remarks }}</td>
                    <td>{{ mill_record.mill_amount }}</td>
                    <td>{{ mill_record.mill_rate_type }}</td>
                    <td>{{ mill_record.mill_calculation_type }}</td>
                    <td><input type="checkbox" {% if mill_record.payment_status %}checked{% endif %} disabled></td>
                    <td><a href="{% url 'edit_mills_record' mill_record.pk %}" style="color: blue;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-down-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M9.636 2.5a.5.5 0 0 0-.5-.5H2.5A1.5 1.5 0 0 0 1 3.5v10A1.5 1.5 0 0 0 2.5 15h10a1.5 1.5 0 0 0 1.5-1.5V6.864a.5.5 0 0 0-1 0V13.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
                        <path fill-rule="evenodd" d="M5 10.5a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 0-1H6.707l8.147-8.146a.5.5 0 0 0-.708-.708L6 9.293V5.5a.5.5 0 0 0-1 0z"/>
                      </svg></a>
                    </td>
                    <td><a href="{% url 'delete_mills_record' mill_record.id %}" title="Delete this user"><i class="fas fa-trash"></i></a></td>
             
                </tr>
            </tbody>
        </table>
    </center>
</div>
{% endblock %}

