{% extends "common.html" %}

{% block title %}Calculator{% endblock %}

{% block content %}
<style>
        
    .Calculator{
        border-radius: 10px;
        background:linear-gradient(to left,rgb(77, 168, 168),rgb(215, 228, 77),#db37a4);
        width: 200px;
        height: 330px;
        margin: 70px;
        margin-left: 500px;
        padding: 20px;
        box-shadow:5px 4px 3px rgb(102, 102, 102);
    
    }
    #result{
        border-radius:10px;
        width:200px;
        height:30px;
        text-align: right;
        box-shadow:-4px -5px 4px rgb(69, 68, 68);
        font-size:25px;
        border-color:rgb(237, 223, 223);
         outline: none;
    }
    div button{
        border-radius: 20px;
        border-color:white;
        width: 37px;
        height: 37px;
        box-shadow:12px 10px 10px rgb(84, 84, 84);
        margin-left: 7px;
        color:rgb(61, 20, 207);
        
    }
    div button:hover{
        background-color:rgb(159, 157, 157);
    
    }
    div button:active{
        background-color: rgb(23, 235, 150);
    }
        </style>
    </head>
    <body>
        <center>
            <h2> it is only visible for super user credentials</h2>
        </center>
        {% if request.user.is_superuser %}
            <div class="Calculator">
                <input type="text" id="result" placeholder="0">
                <br><br>
                <div class="buttons">
                    <button onclick="clearResult()">C</button>
                    <button onclick="appendToResult('%')">%</button>
                    <button onclick="appendToResult('/')">/</button>
                    <button onclick="appendToResult('*')">*</button>
                    <br><br>
                    <button onclick="appendToResult('7')">7</button>
                    <button onclick="appendToResult('8')">8</button>
                    <button onclick="appendToResult('9')">9</button>
                    <button onclick="appendToResult('-')">-</button>
                    <br><br>
                    <button onclick="appendToResult('4')">4</button>
                    <button onclick="appendToResult('5')">5</button>
                    <button onclick="appendToResult('6')">6</button>
                    <button onclick="appendToResult('+')">+</button>
                    <br><br>
                    <button onclick="appendToResult('1')">1</button>
                    <button onclick="appendToResult('2')">2</button>
                    <button onclick="appendToResult('3')">3</button>
                    <button onclick="calculate()">=</button>
                    <br><br>
                    <button onclick="appendToResult('0')">0</button>
                    <button onclick="appendToResult('.')" style="font-size: 30px;">.</button>
                    <button onclick="del()">DEL</button>
                <button onclick="rev()">REV</button>
                </div>
            </div>
            {% endif %}
        </body>
        <script>
            let result = document.getElementById('result');
    
            function appendToResult(value) {
                result.value += value;
            }
    
            function calculate() {
                try {
                    result.value = eval(result.value);
                } catch (error) {
                    result.value = 'Error';
                }
            }
    
            function clearResult() {
                result.value = '';
            }
            function del() {
                result.value = result.value.slice(0, -1);
            }
    
            /*function rev() {
                let currentValue = parseFloat(result.value);
                if (!isNaN(currentValue)) {
                    result.value = -currentValue;
                }
            }*/
            function rev() {
                let currentValue = parseFloat(result.value);
                if (!isNaN(currentValue)) {
                    result.value = currentValue.toString().split('').reverse().join('');
                }
            }

    

    </script>
{% endblock %}

