
{% extends "common.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<style>
    #form {
        display: grid;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        background-color: black;
        color: white;
        width: 300px;
        height: 280px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        transition: 0.5s;
        transform-style: preserve-3d;
        perspective:1000px;
    }
    #login {
        cursor: pointer;
        background-color: rgb(14, 224, 109);
        width: 100px;
        height: 30px;
        border-radius: 10px;
    }
    #login:hover{
        background-color: rgb(244, 6, 129);
        color:white;
    }
    .fields {
        border:none;
        border-radius: 5px;
        width: 200px;
        height: 30px;
        outline: none;
    }
    body {
        background-color: blue;
       
    }
    
    body:hover {
        background-image: url('https://www.mashed.com/img/gallery/costco-shoppers-are-coming-up-with-creative-ways-to-use-leftover-rice-bags/l-intro-1646767691.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    #form:hover {
        background-color: #f1ecec;
        cursor: pointer;
        transform: rotateY(0deg);
        color:black;
    }
    </style>
    <div class="visme_d" data-url="g7qykee8-untitled-project?fullPage=true" data-domain="forms" data-full-page="true" data-min-height="100vh" data-form-id="62918"></div>
    <script src="https://static-bundles.visme.co/forms/vismeforms-embed.js"></script>
    <marquee behavior="" direction="right"scrollamount="22" style="color:rgb(55, 9, 223);">
        <h2>⭐✨This project's ideas were inspired by my father,
            <bold style="color:rgb(245, 9, 174)"> Matta.Subba Rao</bold>
            , and guided by 
            <bold style="color:rgb(9, 237, 104)">Srinivas Sir⭐</bold>.
        </h2>
    </marquee>
    <form method="post" id="form">
    {% csrf_token %}
    <div>
        <h2>Login</h2>
        <p>Please enter your username & password</p>
        <input type="text" placeholder="Enter username" class="fields" name="username" required><br><br>
        <input type="password" placeholder="Enter password" class="fields" name="password" required><br><br>
        <button type="submit" id="login">Login</button>
        <a href="{% url 'register' %}" style="color:blue">Register</a>
        {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
        {% endif %}
    </div>
</form>
{% endblock %}
