{% extends "common.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<style>
    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 400px;
        margin: auto;
    }
    input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    button {
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #4CAF50;
        color: white;
        cursor: pointer;
    }
    button:hover {
        background-color: #45a049;
    }
    #user_type{
        width:400px;
        height:40px;
    }
</style>
<center><h2>Register</h2></center>
<form method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>
        <select id="user_type" name="user_type" required>
            <option value="active">Active</option>
            <option value="staff">Staff</option>
        </select><br>
    <button type="submit">Register</button>
    <a href="{% url 'adminregister' %}">Administration user register?</a>
</form>
{% endblock %}
